.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80vw;
  margin-top: 10vh;
  height: 100%;
}

.shop__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.shop__products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}